body{
    background: var(--BG-dark-main, #0A0C10);
    padding: 12px;
    font-family: Inter;
}
header{
    display: grid;
    margin-top: -10px;
    grid-template-columns: 10% 80% 10%;
    align-items: center;
}
header img{
    width: 30px;
    height: 30px;
    flex-shrink: 0;
}
header h3{
    color: var(--white-text, #FFF);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
header a{
    width: 30px;
    height: 30px;
    fill: var(--Fill-Color-Dark-Quaternary, rgba(116, 116, 128, 0.18));
    backdrop-filter: blur(27.182817459106445px);
}
main{ 
    padding-bottom: 60px;
}
.title{
    color: var(--Text-secondary-gray, #B8B8B8);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.btns{
    display: flex;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}
.btns button{
    display: flex;
    height: 31px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 0px;
    flex: 1 0 0;
    border-radius: 4px;
    color: var(--Text-secondary-gray, #B8B8B8);
    text-align: right;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: var(--bg-7-primary-dark, linear-gradient(88deg, rgba(255, 255, 255, 0.06) 0%, rgba(255, 255, 255, 0.03) 99.66%));
}
.submit{
    display: flex;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    border-radius: 12px;
    background: var(--Main-Violet, #7064F3);
    backdrop-filter: blur(32px);
    color: var(--Text-primary-white, var(--white-text, #FFF));
    width: 100%;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: 0px;
    margin-top: 16px;
}
input{
    display: flex;
    height: 44px;
    padding: 16px;
    padding-top: 18px;
    align-items: center;
    gap: 16px;
    width: 100%;
    align-self: stretch;
    border-radius: 12px;
    margin-bottom: 16px;
    background-color: rgb(0, 0, 0, 0);
    border: 0px solid red;
    color: var(--Text-secondary-gray, #B8B8B8);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.input{
    width: 100%;
    height: 47px;
    background-size: 100% 100%;
    margin-bottom: 16px;

}
footer{
    width: 100%;
}
.navbar{
    display: grid;
    position: fixed;
    justify-content: center;
    width: 91%;
    bottom: 10px;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    border-radius: 16px;
    text-align: center;
    padding: 11px 0px;
    border-radius: 16px;
    background-color: #17191D; 
}

.navbar h3{
    color: var(--Text-third-grey, #797979);
    text-align: center;

    /* Caption 2 Inter regular 12px */
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0;
    margin-top: 0;
}
.navbar .active{
    color: var(--Text-primary-white, var(--white-text, #FFF));
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.firstbtns button.active {
    background-color: var(--Main-Violet, #7064F3);
    color: var(--Text-primary-white, #FFF);
}
.secondbtns button.active {
    background-color: var(--Main-Violet, #7064F3);
    color: var(--Text-primary-white, #FFF);
}
.error-message {
    color: var(--Main-red, #CA3140);
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    display: none;
    font-weight: 400;
    
    line-height: normal;
}
.input-error {
    border: 1px solid #CA3140;
    border-radius: 12px;
}
.results {
    margin-top: 20px;
}
.result-item {

}

.impulse{
    display: flex;
    padding: 11px 12px;
    flex-direction: column;
    gap: 16px;
    align-self: stretch;
    border-radius: 12px;
    background: var(--bg-7-primary-dark, linear-gradient(88deg, rgba(255, 255, 255, 0.06) 0%, rgba(255, 255, 255, 0.03) 99.66%));
}
.impulse-top{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}
.impulse-top p{
    color: var(--Text-third-grey, #797979);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0;
}
.impulse-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.impulse-content h3 {
    margin: 0;
}
.impulse-content .percentage {
    display: flex;
    align-items: center;
}
.impulse-content .percentage img {
    margin-left: 5px;
}
.button-toptikers {
    text-align: center;
    margin-top: 20px;
}
.navbar a{
    text-decoration: none;
}
.impulse-content h5{
    text-align: center;
    margin-top: 2px;
    font-size: 11px;
    width: 90%;
    padding-bottom: 7px;
}
.impulse-content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    margin-bottom: -10px;
}
.impulse-content h3{
    color: var(--Text-primary-white, var(--white-text, #FFF));
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 0px;
}
.impulse-content p{
    color: var(--Text-secondary-gray, #B8B8B8);
    text-align: right;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 54px;
    margin-top: 0;
}
.impulse-content button{
    border-radius: 12px;
    background: var(--bg-7-primary-dark, linear-gradient(88deg, rgba(255, 255, 255, 0.06) 0%, rgba(255, 255, 255, 0.03) 99.66%));
    backdrop-filter: blur(32px);
    display: flex;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    color: var(--Text-primary-white, var(--white-text, #FFF));
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;    
    width: 100%;
    border: 0px;
    margin-top: 0px;
}

.positive {
    background-color: #33a721;
    color: white;
    border-radius: 4px;
    align-items: center;
    width: 50%;
}

.negative {
    background-color: #ca3140;
    color: white;
    border-radius: 4px;
    align-items: center;
    width: 50%;
}

.icon {
    width: 18px; /* Adjust the size as needed */
    height: 18px;
    position: relative;
    top: 5px;
    display: none; /* Hide all icons initially */
     
}
.percentage {
    width: 150px;
    align-items: center;
    text-align: center;
    padding-top: 5px;
    padding-left: 5px;
}
.impulse-content h5{
    width: 50px;
}
.update-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}
.update-info p{
    color:  #B8B8B8;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.update-info_div{
    display: flex;
    align-items: center;
    gap: 4px;
}
