body{
    background: var(--BG-dark-main, #0A0C10);
    padding: 12px;
    font-family: Inter;

}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}
header h5{
    color: var(--Text-secondary-gray, #B8B8B8);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal; 
    margin-bottom: 0px;
    margin-top: 0px;
}
header h3{
    color: var(--Text-primary-white, var(--white-text, #FFF));
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 0px;
}
header img{
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    position: relative;
    top: -15px;
}
.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8px;
    align-self: stretch;
}
.box {
    position: relative;
    border-radius: 12px;
    display: flex;
    padding: 8px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    flex: 1 0 0;
    background-size: cover;
    z-index: 1; /* ensure the card content is above the pseudo-element */
}


.cards img{
    width: 24px;
    height: 24px;
}
.cards h3{
    color: var(--Text-primary-white, var(--white-text, #FFF));
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 0px;
}
.cards a{
    text-decoration: none;
    color: var(--Text-primary-white, var(--white-text, #FFF));
}
.box-premium{
    
    margin-top: 16px;
    display: flex;
    padding: 12px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: 10px;
    
    background-size: cover;
    backdrop-filter: blur(32px);
}

.box-premium p{
    color: var(--Text-secondary-gray, #B8B8B8);
    text-align: right;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 0;
}
.box-premium h3{
    color: var(--Text-primary-white, var(--white-text, #FFF));
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 4px;
    margin-top: 0;
}
.card-premium_star{
    width: 39px;
    height: 31px;
}
.card-premium_next{
    width: 24px;
    height: 24px;
}
.title{
    color: var(--white-text, #FFF);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 0px;
}
.toptikers-card{
    display: flex;
    padding: 16px 12px;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    align-self: stretch;
    border-radius: 12px;
    background: var(--bg-7-primary-dark, linear-gradient(88deg, rgba(255, 255, 255, 0.06) 0%, rgba(255, 255, 255, 0.03) 99.66%));
}
.buttons{
    display: flex;
    height: 32px;
    padding: 2px;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid var(--stroke-60-dark, rgba(47, 47, 47, 0.60));
}
.btn{
    display: flex;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
    background-color: rgb(0, 0, 0, 0);
    border: 0px;
    color: var(--Text-secondary-gray, #B8B8B8);
    text-align: center;
    font-family: Inter;
    font-size: 10.5px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.buttons .active{
    border-radius: 4px;
    background: var(--bg-15-secondary-medium-light, linear-gradient(88deg, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0.07) 99.66%));
}

.content h3{
    color: var(--Text-primary-white, var(--white-text, #FFF));
    -webkit-text-stroke-width: 0.05721540376543999;
    -webkit-text-stroke-color: var(--Text-primary-white, var(--white-text, #FFF));
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0px;
}
.content h5{
    color: var(--Text-secondary-gray, #B8B8B8);
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 0px;
}
.content p{
    color: var(--Text-Green, #33A721);
    text-align: right;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 0px;
}
.content{
    display: flex;
    height: 36.329px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    width: 100%;
    margin-bottom: 13px;
}
.toptikers-div2,
.toptikers-div1,
.toptikers-div3{
    width: 100%;

}
footer{
    width: 100%;
}
.navbar{
    display: grid;
    position: fixed;
    left: 6.5%;
    width: 87%;
    bottom: 10px;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    border-radius: 16px;
    text-align: center;
    padding: 11px 0px;
    background: var(black, linear-gradient(88deg, rgba(255, 255, 255, 0.06) 0%, rgba(255, 255, 255, 0.03) 99.66%));
    backdrop-filter: blur(51px);
}
.update-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}
.update-info p{
    color:  #B8B8B8;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.update-info_div{
    display: flex;
    align-items: center;
    gap: 4px;
}
.premium-icon{
    position: absolute;
    right: 0px;
    margin-top: -6px;
    border-radius: 6px;
    padding: 2px 5px;
    font-size: small;
    font-weight: bold;
    background: linear-gradient(to right, #f3da80, #aa8010); /* your gradient */

}

.navbar h3{
    color: var(--Text-third-grey, #797979);
    text-align: center;

    /* Caption 2 Inter regular 12px */
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0;
    margin-top: 0;
}
.navbar .active{
    color: var(--Text-primary-white, var(--white-text, #FFF));
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.button-toptikers button{
    border-radius: 12px;
    background: var(--bg-7-primary-dark, linear-gradient(88deg, rgba(255, 255, 255, 0.06) 0%, rgba(255, 255, 255, 0.03) 99.66%));
    backdrop-filter: blur(32px);
    display: flex;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    color: var(--Text-primary-white, var(--white-text, #FFF));
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;    
    width: 100%;
    border: 0px;
}

main{
    padding-bottom: 70px;
}
.impulse-cards-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}
.impulse-cards-div h3{
    color: var(--Text-primary-white, var(--white-text, #FFF));
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 0;
}
.impulse-cards-div button{
    color: var(--Text-secondary-gray, #B8B8B8);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    background-color: rgb(0, 0, 0, 0);
    border: 0px;
    margin-bottom: 0;
    margin-top: 10px;
}
.impulse{
    display: flex;
    padding: 11px 12px;
    flex-direction: column;
    gap: 16px;
    align-self: stretch;
    border-radius: 12px;
    background: var(--bg-7-primary-dark, linear-gradient(88deg, rgba(255, 255, 255, 0.06) 0%, rgba(255, 255, 255, 0.03) 99.66%));
}
.impulse-top{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}
.impulse-top p{
    color: var(--Text-third-grey, #797979);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0;
}
.impulse-content h5{
    text-align: center;
    margin-top: 2px;
    font-size: 11px;
    width: 90%;
    padding-bottom: 7px;
}
.impulse-content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    margin-bottom: -10px;
}
.impulse-content h3{
    color: var(--Text-primary-white, var(--white-text, #FFF));
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 0px;
}
.impulse-content p{
    color: var(--Text-secondary-gray, #B8B8B8);
    text-align: right;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 54px;
    margin-top: 0;
}
.impulse-content button{
    border-radius: 12px;
    background: var(--bg-7-primary-dark, linear-gradient(88deg, rgba(255, 255, 255, 0.06) 0%, rgba(255, 255, 255, 0.03) 99.66%));
    backdrop-filter: blur(32px);
    display: flex;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    color: var(--Text-primary-white, var(--white-text, #FFF));
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;    
    width: 100%;
    border: 0px;
    margin-top: 0px;
}

.positive {
    background-color: #33a721;
    color: white;
    border-radius: 4px;
}

.negative {
    background-color: #ca3140;
    color: white;
    border-radius: 4px;
}

.icon {
    width: 18px; /* Adjust the size as needed */
    height: 18px;
    position: relative;
    top: 5px;
    display: none; /* Hide all icons initially */
     
}

footer a{
    text-decoration: none;
}
