body {
    font-family: Arial, sans-serif;
    margin: 0px;
    min-height: 100vh;
    background-size: 100% 100%;
    background: linear-gradient(to bottom, #0D1F2D, #0F3D56) no-repeat;
    background-size: cover;
}
.navbar-bottom {
    display: grid;
    position: fixed;
    width: 100%;
    left: 0px;
    bottom: 0px;
    padding-bottom: 10px;
    border-top: 1px solid #5A8A9F;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #1c5169;
    padding-top: 10px;
    text-align: center;
}
.navbar-bottom button {
    background-color: rgb(0,0,0,0);
    border: 0px;
    cursor: pointer;
}
.navbar-bottom img {
    width: 40px;
}
header {
    width: 100%;
    text-align: left;
    display: grid;
    grid-template-columns: 10% 80%;
    border-bottom: 2px solid #5a8a9f;
}
.header-title {
    padding-left: 16px;
    padding-right: 16px;
    color: white;
}
header img {
    position: relative;
    top: 15px;
    left: 16px;
}

.disable-btn {
    padding: 5px;
    border-radius: 12px;
}

main{
    padding: 0px 16px;
    
}
main p{
    color: white;
    margin-bottom: -10px;
    font-size: 14px;
    font-weight: 0;
}
main h5{
    color: #5A8A9F;
    font-weight: 100;
}
main h3{
    color: white;
    margin-bottom: 0px;
}
.main-info{
    display: grid;
    padding-top: 10px;
    grid-template-columns: 20% 50% 20%;
    gap: 1%;
}
main h4{
    color: #999;
    margin-bottom: -10px;
}
main img{
    padding-top: 15px;
}
.icon-download{
    float: right;
}

footer{
    width: 80%;
    margin: auto;
    background-color: #121D34;
    display: grid;
    border-radius: 50px;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    gap: 1em;
    position: fixed;
    left: 6.5%;
    bottom: 2%;
    padding: 7px;
    padding-bottom: 4px;
    
}

footer img{
    width: 35px;
    padding: 5px 0px;
}
.active-btn{
    background: linear-gradient(to bottom, #F6FF8E, #FFE0B1) no-repeat;
    border-radius: 50px;
    padding: 5px 15px;
}
