body{
    background: var(--BG-dark-main, #0A0C10);
    padding: 12px;
    font-family: Inter;
}
header{
    display: grid;
    margin-top: -10px;
    grid-template-columns: 10% 80% 10%;
    align-items: center;
}
header img{
    width: 30px;
    height: 30px;
    flex-shrink: 0;
}
header h3{
    color: var(--white-text, #FFF);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
header a{
    width: 30px;
    height: 30px;
    fill: var(--Fill-Color-Dark-Quaternary, rgba(116, 116, 128, 0.18));
    backdrop-filter: blur(27.182817459106445px);
}
main{ 
    padding-bottom: 60px;
}

.navbar{
    display: grid;
    position: fixed;
    justify-content: center;
    width: 90%;
    bottom: 10px;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    border-radius: 16px;
    text-align: center;
    padding: 11px 0px;
    border-radius: 16px;
    background-color: #17191D; 
}

.navbar h3{
    color: var(--Text-third-grey, #797979);
    text-align: center;

    /* Caption 2 Inter regular 12px */
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0;
    margin-top: 0;
}
.navbar .active{
    color: var(--Text-primary-white, var(--white-text, #FFF));
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.update-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    margin-bottom: -10px;
}
.update-info p{
    color:  #B8B8B8;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.update-info_div{
    display: flex;
    align-items: center;
    gap: 4px;
}
a{
    text-decoration: none;
}

/**********************************************************************************************************************************/



.title{
    color: var(--white-text, #FFF);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.btns{
    display: flex;
    width: 100%;
    align-items: flex-start;
    gap: 8px;
}
.btns button{
    color: var(--Text-secondary-gray, #B8B8B8);
    text-align: right;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    height: 31px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    border-radius: 4px;
    border: 0px;
    background: var(--bg-7-primary-dark, linear-gradient(88deg, rgba(255, 255, 255, 0.06) 0%, rgba(255, 255, 255, 0.03) 99.66%));
}
form{
    width: 100%;
    margin-top: 16px;
}
form button{
    display: flex;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    border-radius: 12px;
    background: var(--Main-Violet, #7064F3);
    backdrop-filter: blur(32px);    
    color: var(--Text-primary-white, var(--white-text, #FFF));
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 100%;
    border: 0px;
}

.result-file{
    margin-top: 16px;
    height: 51px;
    padding: 8px;
    align-items: center;
    align-self: stretch;
    border-radius: 12px;
    display: grid;
    grid-template-columns: 10% 72% 10%;
    padding-top: 0;
    gap: 1em;
    text-align: start;
    background: var(--bg-7-primary-dark, #17181C);
}
.result-file h3{
    color: var(--Text-primary-white, var(--white-text, #FFF));
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 5px;
    
}
.result-file p{
    color: var(--Text-secondary-gray, #B8B8B8);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 0px;
}
.files img{
    padding: 5px;
    border-radius: 5px;
    background-color: #747474;
}
.result-file img{
    text-align: center;
}
.history-container .ttle{
    color: var(--white-text, #FFF);

    /* H4 Inter SemiBold 14px */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
