
body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-size: cover;
            margin: 0px;
            height: 100vh;
            background: linear-gradient(to bottom, #0D1F2D, #0F3D56); /* Цвета градиента */            
        }
        .navbar-bottom{
            display: grid;
            position: fixed;
            width: 100%;
            left: 0px;
            padding-bottom: 10px;
            bottom: 0px;
            border-top: 1px solid #5A8A9F;
            grid-template-columns: 1fr 1fr 1fr;
            background-color: #1c5169;
            padding-top: 10px;
        }
        .navbar-bottom button{
            background-color: rgb(0,0,0,0);
            border: 0px;
            cursor: pointer;
        }
        .navbar-bottom img{
            width: 40px;
        }
        header{
            width: 100%;
            text-align: left;
            border-bottom: 2px solid #5a8a9f;
        }
        .header-title{
            padding-left: 16px;
            padding-top: 5px;
            padding-right: 16px;
            color: white;
        }
        .main-top{
            display: grid;
            padding: 0px 16px;
            grid-template-columns: 69% 29%;
            gap: 2%; 
            margin-top: 20px;
        }
        .main-top_right{
            background-color: rgb(149, 160, 165, 15%);
            border-radius: 12px;
            padding-top: 16px;
        }
        .main-top_left{
            border: 1px solid #A3A8D5;
            border-radius: 12px;
            padding: 16px;
        }
        .price-info{
            display: grid;
            grid-template-columns: 1fr 1fr; 
            text-align: left;
        }
        .price-info h3{
            font-size: 25px;
            padding-top: 0px;
            margin-top: 0px;
            color: #20B513;
        }
        .price-info p{
            margin-top: 10px;
            color: #999;
        }
        .offer-btn{
            background-color: #0da2c6;
            border: 0px;
            width: 100%;
            font-size: 17px;
            font-weight: 500;
            color: white;
            border-radius: 12px;
            padding: 10px;
        }
        .active-btn{
            background-color: #0da2c6;
            padding: 5px;
            border-radius: 12px;
        }
        .disable-btn{
            padding: 5px;
            border-radius: 12px;
        }
        .main-top_right p{
            color: #999;
        }
        .if-disable{
            background-color: #95A0A5;
        }
        .main{
            padding: 0px 16px;
            margin-top: 20px;
        }
        .main-ton_btn{
            display: grid;
            grid-template-columns: 80% 10%;
            background-color: #0DA2C6;
            gap: 1em;
            border: 0px;
            border-radius: 12px;
            width: 100%;
            text-align: right;
            font-size: 17px;
            color: white;
            cursor: pointer;
        }
        .main-ton_btn img{
            padding: 12px;
        }
        .main-info{
            padding: 0px 16px;
            margin-top: 20px;
        }
        .transactions-info{
            background-color: #1B4F66;
            border-radius: 12px;
        }
        .transactions-info_header{
            margin: 0px;
            display: grid;
            grid-template-columns: 20% 80%;
            text-align: left;
        }
        .transactions-info_header img{
            padding: 12px;
        }
        .transactions-info p{
            color: white;
        }
        .transactions-info_main{
            margin: 0px;
            padding-bottom: 12px;
        }
        .transactions-info_main p{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
        #ton-connect-btn{
            width: 100%;
            border-radius: 20px;
            padding: 0px;
        }
        #ton-connect-btn button{
            width: 100%;
            border-radius: 20px;
            text-align: center;
            border: 0px solid;
        }
            
