body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0px;
    min-height: 100vh;
    background-size: 100% 100%;
    background: linear-gradient(to bottom, #0D1F2D, #0F3D56) no-repeat;
    background-size: cover;
}
.navbar-bottom{
    display: grid;
    position: fixed;
    width: 100%;
    left: 0px;
    border-top: 1px solid #5A8A9F;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #1c5169;
    padding-top: 10px;
    padding-bottom: 10px;
    bottom: 0px;
}
.navbar-bottom button{
    background-color: rgb(0,0,0,0);
    border: 0px;
    cursor: pointer;
    
    
}
.navbar-bottom img{
    width: 40px;
}
header {
    width: 100%;
    text-align: left;
    display: grid;
    grid-template-columns: 10% 80%;
    border-bottom: 2px solid #5a8a9f;
}
.header-title {
    padding-left: 16px;
    padding-right: 16px;
    color: white;
}
header img {
    position: relative;
    top: 15px;
    left: 16px;
}
.active-btn {
    background-color: #0da2c6;
    padding: 5px;
    border-radius: 12px;
}
.disable-btn {
    padding: 5px;
    border-radius: 12px;
}
main {
    padding: 0px 16px;
    margin-top: 20px;
}
.main-p {
    text-align: left;
    color: white;
}
.main-input {
    background-color: rgb(0,0,0,0);
    border: 1px solid #5A8A9F;
    padding: 12px 20px;
    border-radius: 12px;
    width: 90%;
    color: #95A0A5;
}
.main-input.error {
    border: 1px solid #D4503D;
}
.main-btn {
    background-color: #0DA2C6;
    width: 92%;
    margin-left: 4%;
    padding: 10px;
    color: white;
    display: grid;
    font-size: 17px;
    border: 0px;
    border-radius: 12px;
}
.main-form p {
    color: white;
}
.main-form {
    position: fixed;
    bottom: 70px;
    left: 0%;
    width: 100%;
    background-color: #1c5169;
    border-top: 1px solid #5A8A9F;
    padding-top: 15px;
}
.error-message {
    color: #D4503D;
    text-align: left;
    margin-top: 5px;
    display: none;
}
#tickerInfo p{
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
    text-align: left;
}
#tickerInfo h3, h4{
    text-align: left;
    color: white;
}
#tickerInfo hr{
    color: #5A8A9F;
    border: 0.7px solid #5A8A9F;
}
#tickerInfo{
    padding-bottom: 200px;
}

